$img--pony-stand: url("../img/pony/gif-pony-stand__axi.gif") no-repeat;
$img--pony-trot: url("../img/pony/gif-pony-trot__axi.gif") no-repeat;
$img--pony-fly: url("../img/pony/gif-pony-fly__axi.gif") no-repeat;
$img--pony-boop-fly: url("../img/pony/gif-pony-boop-fly__axi.gif") no-repeat;
$img--pony-sit: url("../img/pony/gif-pony-sit__axi.gif") no-repeat;
$img--pony-boop-sit: url("../img/pony/gif-pony-boop-sit__axi.gif") no-repeat;
$img--pony-lie: url("../img/pony/gif-pony-lie__axi.gif") no-repeat;
$img--pony-boop-lie: url("../img/pony/gif-pony-boop-lie__axi.gif") no-repeat;
$img--pony-boop: url("../img/pony/gif-pony-boop__axi.gif") no-repeat;

// $img--pony-stand: url("../img/pony/gif-pony-stand__zel.gif") no-repeat;
// $img--pony-trot: url("../img/pony/gif-pony-trot__zel.gif") no-repeat;
// $img--pony-boop: url("../img/pony/gif-pony-boop__zel.gif") no-repeat;

.pony {
  position: absolute;
  top: 0;
  left: 0;

  width: 70px;
  height: 90px;
  overflow: hidden;
  box-sizing: border-box;

  transform: scale(-1, 1);
  z-index: 100;

  pointer-events: none;
  user-select: none;
}

.animation--stand {
  background: $img--pony-stand;
  background-position: 2px 2px;
  background-size: 68px 68px;
}

.animation--trot {
  background: $img--pony-trot;
  background-position: 0 0;
  background-size: 70px 75px;
}

.animation--fly {
  background: $img--pony-fly;
  background-position: 0 0;
  background-size: 70px 85px;
}

.animation--boop-fly {
  background: $img--pony-boop-fly;
  background-position: 0 0;
  background-size: 73px 85px;
}

.animation--boop {
  background: $img--pony-boop;
  background-position: 0 0;
  background-size: 70px 70px;
}

.animation--sit {
  background: $img--pony-sit;
  background-position: 0 0;
  background-size: 75px 70px;
}

.animation--boop-sit {
  background: $img--pony-boop-sit;
  background-position: 0 0;
  background-size: 74px 70px;
}

.animation--lie {
  background: $img--pony-lie;
  background-position: 0 0;
  background-size: 74px 70px;
}

.animation--boop-lie {
  background: $img--pony-boop-lie;
  background-position: 0 0;
  background-size: 74px 70px;
}

// <!DOCTYPE Liky>
